{% extends "projects\base.html" %}
{% load static %}

{% block stylesheets %}
<style>
    .row{
        margin-top: 50px;
    }
</style>
{% endblock %}



{% block content %}
<h1>Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top"  src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'detail' project.pk %}" 
                   class="btn btn-primary">
                    Read More<!--we are accessing a URL path named detail, which takes integer arguments corresponding to the pk number of the project -->
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
